# Lịch sử và dữ liệu phiên làm việc của R
.Rhistory
.Rapp.history
.RData
.Ruserdata

# Thư mục cấu hình cá nhân của phần mềm RStudio
.Rproj.user/

# Các file tạm sinh ra khi chạy R Markdown
*_cache/
/cache/
*.utf8.md
*.knit.md

# Biến môi trường R
.Renviron
